source https://api.nuget.org/v3/index.json

nuget FSharp.Core content: none

nuget FSharp.Compiler.Service
nuget FSharp.Formatting
nuget FSharp.Quotations.Evaluator

nuget Argu
nuget Suave

nuget FsToolkit.ErrorHandling
nuget YamlDotNet