.post-list {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 3rem;

    article {
        &:not(:first-child) {
            padding-top: 1rem;
        }
        border-bottom: 1px solid var(--light-gray);
        padding-bottom: 1rem;

        time {
            font-size: 0.75rem;
        }

        .lang-selector a {
            background-color: var(--lighter-gray);
            color: var(--dim-gray);
            padding: 0.1rem 0.3rem;
            border-radius: 0.25rem;
            font-size: 0.75rem;
        }

        .badge-external-post {
            display: inline-block;
            background-color: var(--lighter-gray);
            
            padding: 0.1rem 0.5rem;
            border-radius: 0.25rem;

            color: var(--dim-gray);
            font-size: .75rem;

            margin-left: 0.25rem;
            margin-bottom: 0.5rem;
        }
    
        h1 {
            font-size: 1.5rem;
            font-weight: 600;

            margin-bottom: 0.5rem;

            a {
                color: var(--dark-gray-heading);

                .fa-arrow-up-right-from-square {
                    font-size: 1rem;
                    margin-left: 0.25rem;
                }
            }
        }


        .post-summary {
            font-size: 0.75rem;
            color: var(--gray);
        }
    }

    .post-list-pagination {
        margin-top: 1rem;

        display: grid;
        grid-template-columns: 1fr 1fr;

        a {
            color: var(--dim-gray);
        }

        a:hover {
            text-decoration: underline;
        }

        .pagination-left {
            text-align: right;
            margin-right: 1rem;
        }
        .pagination-right {
            text-align: left;
            margin-left: 1rem;
        }
    }
}
