article {
    max-width: 40rem; /* One line contains 80 characters, you know? */

    margin: 0 auto;
    padding: 0 3rem;

    p, ul, ol, pre {
        margin-bottom: 1em;
    }

    ul ul {
        margin-bottom: 0;
    }

    & > header {
        time {
            font-size: 0.9rem;
            color: var(--dark-gray);
        }

        .lang-selector a {
            background-color: var(--lighter-gray);
            color: var(--dim-gray);
            padding: 0.1rem 0.3rem;
            border-radius: 0.25rem;
            font-size: 0.9rem;
        }

        h1 {
            font-size: 2.5rem;
            color: var(--dark-gray);
            line-height: 1.2;

            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }
    }
    
    h2, h3, h4, h5, h6 {
        color: var(--dark-gray);
    }
    
    h2 {
        padding-bottom: 0.1rem;
        border-bottom: 1px solid var(--light-gray);
        margin-bottom: 1rem;
    }
    
    h3, h4, h5, h6 {
        margin-bottom: 0.5rem;
    }
    
    pre {
        white-space: pre-wrap;
    }
}
