article {
    max-width: 40rem; /* One line contains 80 characters, you know? */
    width: 100%; /* Must constrain the width to fit the parent flex, so that just the table overflows */

    .anchor {
        margin-left: 0.4rem;
    }

    p, ul, ol, pre {
        margin-bottom: 1em;
    }

    hr {
        margin: 1em 0 1em 0;
    }

    code {
        tab-size: 4;
    }

    @media (max-width: 600px) {
        pre {
            overflow-x: auto;
        }
    }

    ul ul {
        margin-bottom: 0;
    }

    & > header {
        time {
            font-size: 0.9rem;
            color: var(--dark-gray);
        }

        .lang-selector a {
            background-color: var(--lighter-gray);
            color: var(--dim-gray);
            padding: 0.1rem 0.3rem;
            border-radius: 0.25rem;
            font-size: 0.9rem;
        }

        h1 {
            font-size: 2.5rem;
            color: var(--dark-gray);
            line-height: 1.2;

            margin-top: 1rem;
            margin-bottom: 1.5rem;

            @media (max-width: 600px) {
                & {
                    font-size: 2rem;
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    
    .post-body {
        h2, h3, h4, h5, h6 {
            color: var(--dark-gray);
        }
        
        h2 {
            padding-bottom: 0.1rem;
            border-bottom: 1px solid var(--light-gray);
            margin-bottom: 1rem;
        }
        
        h3, h4, h5, h6 {
            margin-bottom: 0.5rem;
        }
        
        pre {
            white-space: pre-wrap;
        }

        img {
            width: 100%;
        }

        blockquote {
            border-left: 4px solid var(--light-gray);
            padding: 0.5rem 0 0 1rem;
        }

        table {
            border-collapse: collapse;
            margin-bottom: 1rem;
            display: block;
            overflow-x: auto;
        }

        tr, td {
            border: 1px solid var(--light-gray);
            padding: 0.5rem 1rem;

            /* The Markdown processer makes p inside cells, resulting in unwanted margin... */
            p {
                margin-bottom: 0;
            }
        }

        @media (max-width: 600px) {
            code {
                word-break: break-all;
            }
        }
    }
}

.content-wrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 0 2rem;
    @media (max-width: 600px) {
        & {
            padding: 0 1rem;
        }
    }
}

.sidebar {
    width: 300px;
    flex-shrink: 0;
    position: sticky;
    top: 1rem;
    align-self: flex-start;
    max-height: calc(100vh - 1rem);
    overflow-y: auto;
    padding-left: 1rem;
}

.toc-container {
    h2 {
        font-weight: 400;
        font-size: 1.2rem;
        margin-top: 0;
        color: var(--dark-gray);
    }

    ul.toc {
        padding-left: 0;
    
        ul {
            padding-left: 1rem;
        }
        
        li {
            list-style: none;
        }
        
        a {
            display: block;
            margin: 0.2rem 0;
            font-size: 0.7rem;
            text-decoration: none;
            color: var(--dim-gray);

            &:hover {
                text-decoration: underline;
                color: var(--dark-gray);
            }
        }
    }
}

article .toc-container {
    display: none;
}

@media (max-width: 64rem) {
    .sidebar {
        display: none;
    }

    article .toc-container {
        display: block;
    }
}
