name: Fornax Build Diff

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  build-pr:
    uses: ./.github/workflows/fornax-build.yml
    with:
      artifact-name: pr
      git-ref: ${{ github.event.pull_request.head.sha }}
      
  build-main:
    uses: pizzacat83/blog/.github/workflows/fornax-build.yml@main
    with:
      artifact-name: main
      git-ref: main

  diff:
    needs: [build-pr, build-main]

    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      diff: ${{ steps.generate-diff.outputs.diff }}
      has_diff: ${{ steps.generate-diff.outputs.has_diff }}
      changed_files: ${{ steps.generate-diff.outputs.changed_files }}
    steps:
      - name: Download artifacts of PR branch
        uses: actions/download-artifact@v7
        with:
          name: pr
          path: pr

      - name: Download artifacts of main branch
        uses: actions/download-artifact@v7
        with:
          name: main
          path: main
      - name: Format HTML files
        run: |
          npm install -g prettier
          npx prettier --print-width 99999 --write "pr/**/*.html"
          npx prettier --print-width 99999 --write "main/**/*.html"

      - name: Generate diff
        id: generate-diff
        run: |
          {
            echo 'diff<<EOFab7b817fb4182540ae557d44cba7f584'
            diff --ignore-space-change -r main pr || true
            echo EOFab7b817fb4182540ae557d44cba7f584
          } >> "$GITHUB_OUTPUT"
          {
            echo 'changed_files<<EOFab7b817fb4182540ae557d44cba7f584'
            diff --ignore-space-change -qr main pr || true
            echo EOFab7b817fb4182540ae557d44cba7f584
          } >> "$GITHUB_OUTPUT"

            if diff --ignore-space-change -qr main pr > /dev/null; then
            echo "has_diff=false" >> "$GITHUB_OUTPUT"
          else
            echo "has_diff=true" >> "$GITHUB_OUTPUT"
          fi

  post-comment:
    needs: diff
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Find existing comment
        uses: peter-evans/find-comment@60c57613a233a2143853d3f68874167868b5d040
        id: find-comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: '<!-- build-diff -->'

      - name: Update or create comment
        uses: peter-evans/create-or-update-comment@dec9d02d7ba794da3485751abf67551b0724c66b
        if: ${{ needs.diff.outputs.has_diff == 'true' }}
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            <!-- build-diff -->
            ## Build Diff

            Changed files:
            ${{ needs.diff.outputs.changed_files }}
            
            <details>
              <summary>build diff</summary>

            ```diff
            ${{ needs.diff.outputs.diff }}
            ```

            </details>
            
            _Last updated: ${{ github.event.pull_request.head.sha }}_
          edit-mode: replace

      - name: Update or create comment (no diff)
        uses: peter-evans/create-or-update-comment@dec9d02d7ba794da3485751abf67551b0724c66b
        if: ${{ needs.diff.outputs.has_diff == 'false' }}
        with:
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            <!-- build-diff -->
            ## Build Diff
            
            No diff.
            
            _Last updated: ${{ github.event.pull_request.head.sha }}_
          edit-mode: replace
